<%- include('header') %>
<div class="container ml-5">
  <h1>Servidor Express</h1>
  <p>P치gina de <strong> Log In </strong> para iniciar sesi칩n</p>

  <form action="/login" method="POST">
      <div style="margin-bottom: 10px;">
        <label for="username">Nombre de usuario:</label><br>
        <input type="text" id="username" name="username" required>
      </div>
      <div style="margin-bottom: 10px;">
        <label for="password">Contrase침a:</label><br>
        <input type="password" id="password" name="password" required>
      </div>
      <button type="submit">Iniciar sesi칩n</button>
  </form>
</div>

<%- include('footer') %>
