<%- include('header') %>
    <!-- <script src="/socket.io/socket.io.js" defer></script> 
    <script src="/javascripts/chatCliente.js" defer></script> -->

    <ul id="messages"></ul>
    <form id="form">
        <input id="input">
        <button>Send</button>
    </form>
<%- include('footer') %>

