<%- include('header') %>
<div class="container ml-5">
    <h1>Servidor <%= title %></h1>
    <p>Bienvenido a la página de <strong>Restricted</strong></p>
    <p> Hola <%= user.username %></p>
    
</div>

<%- include('footer') %>

